:root {
  --color-dark-primary-100: #061b3a;
  --color-dark-secondary-100: #ecacc4;
  --color-dark-third-100: #9596c4;

  --color-dark-line-1: #27394b;
  --color-dark-line-2: #d8d8d8;

  --color-dark-grey-100: #f4f0ed;
  --color-dark-grey-300: #3a3939;

  --color-white: #ffffff;
}
