---
import BaseHead from "../components/BaseHead.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <section class="hero">
        <div class="container">
          <p class="hero-sub-title text-pixel">
            UX/UI Designer | Product Designer
          </p>
          <h1 class="hero-title">
            Olá! Sou a <span>Camila</span>, e transformo ideias em <br /><span
              >experiências</span
            > intuitivas e impactantes.
          </h1>
        </div>
      </section>
    </main>
  </body>
</html>

<style>
  .hero {
    padding-block: 32px;
    text-align: center;

    @container main-container (width >= 1024px) {
      padding-block: 136px;
    }

    br {
      display: none;

      @container main-container (width >= 1024px) {
        display: initial;
      }
    }
  }

  .hero-title {
    font-weight: 700;
    font-size: 1.75rem;
    text-shadow: #ffffff25 1px 0 10px;

    @container main-container (width >= 1024px) {
      font-size: 3rem;
    }

    span {
      color: var(--color-dark-secondary-100);
    }
  }

  .hero-sub-title {
    font-weight: 500;
    font-size: 1rem;
    text-shadow: #ffffff25 1px 0 10px;

    @container main-container (width >= 1024px) {
      font-size: 1.25rem;
    }

    &:not(:last-child) {
      margin-block-end: 24px;
    }
  }
</style>
